// 

@font-face {
    font-family: 'Danger-night';
    src: url('/src/assets/fonts/DangerNightPersonalUse-owdl4.otf');
    font-weight: bold;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
